 :root{
     font-size:  20px;
 }
 body{
     background-color: black;
     z-index: 20;
     
 }
 #top::before{
content: " ";
background-color: #808080bf;
height:100%;
width:100%;
position:absolute;
left: 0px;
right:-15px;
z-index: -1;
opacity: 0.2;


 }
#top{
    margin: 0px;
    display:flex;
    position: relative;
    top: -8px;
    left: -8px;
    
    color: white;
    width: 1750px;
}
.logo{
    /* border: 2px solid yellowgreen; */
    text-align: center;
    ;
   
}

section div img{
    
    height: 100px;
    width:100px;
    margin: 0px;
    padding: 20px;
}
section div p{
    /* border: 2px solid black; */
    margin: -2px;
    font-size: 1.6em;
    position: relative;
    top:-25px;
    font-weight: bold;
}

.navbar{
    /* border: 2px solid rgb(97, 97, 95); */
    margin:0px;
    padding: 50px 50px;
    font-size: 1.3em;
    margin-left: 5px;
    
   
}
.navbar a{
    color: white;
}
.nav{
    text-decoration: none;
    padding: 25px;
}
.mid::before{
    content: " ";
background: url(background.jpeg) no-repeat center center/cover;
height:750px;
width:100%;
position:absolute;
top: 0px;
right: 0px;

z-index: -10;


}

.mid{
    display:flex;
    flex-direction: column;
    
    align-items: center;
    /* border: 5px solid black; */
    height:500px;
    width:50%;
    margin: 0px auto;
    color:white;
    
    
}
mid h1{
    font-size:3em;
    
}
mid p{
    text-align: center;
}
mid input{
    height:45px;
    width:600px;
    border: 2px solid white;
    border-radius:12px;
    font-size: 1em;
}
h1{
   position: relative;
   top: 50px;
   text-align: center;
   color: white;
}

.feature{
    display: flex;
    /* flex-direction: column; */
    position: relative;
    top: 25px;
}

.service {
    border: 3px solid white;
    width: 550px;
    /* box-shadow: 2px 2px 2px 2px rgb(218, 206, 206); */
    /* align-items: center; */
    text-align: center;
    margin: 0px 7px;
    color: white;
}
.service img{
    height: 120px;
    width: 120px;
}
.headline{
    font-size:2em;
    margin: 0px;
}
.sponsers{
    display: flex;
    align-items: center;
    position:relative;
    top: 20px;
}
.sponsers img{height:150px;
    width:200px;
    padding: 30px;



}



