body{
    background-color: black !important;
    color: white !important;
    font-family: var(--bs-font-sans-serif) !important;
}
top{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height:30vw;
    margin-bottom:20px;
    
    
}
.heading h1{
    font-size:5vw;
    color: #d9bd23;

}
.heading p{
    font-size:1vw;
    text-align: center;
}


.mid{
   
    display: flex;
    justify-content: center;
    text-align: center;
    
    
    
}

.card{
    width: 16vw;
    color: white;
    min-width:  100px !important;
    margin: 1rem !important;
    background-color: #333333 !important;
    transition: all 0.2s ease-in-out;
    border-radius: 1rem!important;
}

.card img{
    height:3vw;
    width:3vw;
    margin: 10px auto ;
   
}

.card-text
{
    font-size:1vw;
}

.card-title
{
    font-size:1.5vw;
}

.btn{
    font-size:1vw !important;
    background-color: #d9bd23!important;
    border-color:  #d9bd23!important;
    color: black !important;
    font-weight: 500!important;
   
   
}
.card:hover {
    cursor: pointer;
    transform: scale(1.2); 
    
    
}


.end{
    background-color: #333333 !important;
    color: white !important;
    display: flex;
    width: 40vw;
    margin: auto;
    justify-content: center;
    border-radius: 1rem;
      
}
.end h1{
    font-size: 2vw;
    text-align: center;
    margin: 2vw 0px;
    color: #d9bd23;
}

.form-group{
   margin-bottom:1.5vw;
}

.form-group label{
    font-size: 0.8vw;
}

.form-control{
    width: 18vw !important;
    height: 1.7vw!important;
}

.btn-submit{
    display: block!important;
    margin: 0px auto;
}






@media (max-width: 1100px){
.form-group
    {
        margin-top: -2vw !important;;
    margin-bottom:3vw !important;
 }
 

}
    
