body {
    background-color: black !important;
    color: white;
}

.top {
    width: 100%;
    height: 23vw;
    
}

.top::before {
    content: " ";
    background: url(bg.jpg) no-repeat;
    z-index: -1;
    height: 23vw;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
}

.line {
    display: block;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 4em;
    font-size: 1vw;
}

.line h {
    font-weight: 300 !important;
    font-size: 4vw;
    color:#189AB4;
}


#text {
    display: inline-block;
    font-size: 2vw;
    position: relative;
    top: 1em;
    left: 10em;

}

#text p {
    margin: 0;
    font-weight: 100;
}

#text h1 {
    font-size: 4vw;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 0.3em;
}

.left {
    width: 20%;
    background-color: #333333;
    border-radius: 1em;
    margin-left: 1.5em;

}

.right {

    flex-grow: 1;
    flex-basis: auto;
}

#course {
    display: grid;
    grid-template-columns: repeat(3, 18vw);
    justify-content: center;
    gap: 2em


}

.card {
    
    background-color: #333333;
    align-items: center;
    border: 3px solid white;
    transition: all 0.3s ease-in-out;



}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-body {
    font-size: 1vw !important;
    font-weight: 100;
}

.card-img-top {
    height: 5vw;
    width: 5vw
}

.mid {
    display: flex;
}
.category {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    align-items: center;
    gap: 0.5em;
    margin-top: 3em;;
}
.category p{
    font-size: 1.3vw;
    font-weight: 100;
    color:#189AB4;
    margin-bottom: 0.5em;
}
.angker{
    text-decoration: none;
    color: white!important;
}

